*{
	font-family: 'Open Sans', sans-serif;
	}
header{
	background-color: #00468c;
}
.fa-facebook-square  {
	color: #fff;
	font-size: 20px
}
.fa-instagram{
color: #fff;
font-size: 20px
}

.fa-youtube-square{
color: #fff;
font-size: 20px
}
.fa-bars{
	color: #fff;
}
.sidenav{
	background: #00468c;
}
.input-group[class*="col-"] {
    float: none;
    padding-right: 0;
    padding-left: 0;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff !important;
    display: block;
    transition: 0.3s;
}



.label-azul {
    font-size: 14px;
    margin-bottom: 30px;
    background-color:#08478c;
    color: #fff;
}
.label-slider {
    font-size: 14px;
   
    background-color:#08478c;
    color: #fff;
}

.title{
	color: #0d4882;
	
	font-weight: bold;
}
.card-img-overlay{
	margin-top: 180px;
}

.card-img-overlay h5{
color: #fff;
font-weight: bold;
}
.btn-default{
    color: #fff !important;
    background-color: #fff;
    border-color: #00468c;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
.slider {
   
    margin: 15px;
}




